CompileFlags:
  Add:
    - --target=i386-elf
    - -ffreestanding
    - -nostdlib
    - -fno-builtin
    - -fno-pic
    - -fno-pie
    - -Ikernel/include
    - -Ilibc/include
    - -Iuserland/shell
    - -Isysroot/usr/include
